dn: olcOverlay=refint,olcDatabase={2}hdb,cn=config
changetype: add
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
objectClass: olcConfig
objectClass: top
olcOverlay: refint
olcRefintAttribute: memberof member manager owner